ADMIN_PASSWORD=guvenli_sifreniz_buraya
ADMIN_TOKEN=cok_uzun_ve_rastgele_gizli_token_buraya_minimum_32_karakter

STRAPI_URL=http://localhost:1337
STRAPI_API_TOKEN=strapi_admin__settings__api_tokens_bolumunden_full_access_token_olusturun
